<div class="fx-fill fx-column fx-horizontal-center fx-vertical-center">
    <mat-card appearance="outlined" class="w-6/12">
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="example-form">
            <mat-card-title class="text-center m-b-4">Register</mat-card-title>
            <mat-card-content>
                <div>
                    <label>Username</label>
                    <mat-form-field class="w-full" appearance="fill">
                        <input type="text" matInput formControlName="username">
                        <mat-error *ngIf="registerForm.get('username')!.hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('username')!.hasError('usernameused')">
                            Username already <strong>used</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <label>Email</label>
                    <mat-form-field class="w-full" appearance="fill">
                        <input type="email" matInput formControlName="email">
                        <mat-error *ngIf="registerForm.get('email')!.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('email')!.hasError('email')">
                            Field must be of type <strong>email</strong>
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('email')!.hasError('emailused')">
                            Email already <strong>used</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <label>Password</label>
                    <mat-form-field class="w-full" appearance="fill" color="accent">
                        <input type="password" matInput formControlName="password">
                        <mat-error *ngIf="registerForm.get('password')!.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('password')!.hasError('minlength')" color="accent">
                            Password must be at least <strong>5</strong> characters
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions class="fx-row fx-horizontal-center fx-vertical-center">
                <button type="submit" color="primary" mat-raised-button>REGISTER</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>