.card-title {
  float: left;
}

.avatar {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.avatar-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 300px;
}

.profile{
  width: 300px;
}

.profile-header{
  height: 40px;
  background-color: #ff4757;
}

.character-name{
  font-weight : 1000;
  letter-spacing: 2px;
  font-size: 32px;
}

.character-title{
  font-weight : 1000;
}

.character-quote{
  font-style: italic;
  font-size: 14px;
  border-left: 2px solid red;
  text-indent: -0.45em;
}

.primary{
  color: #ff4757;
}

.category-title{
  font-size: 24px;
  border-bottom: 1px solid;
  overflow: hidden;
}

.toggle-button{
  min-width: 100px;
}