<div class="card-title fx-row fx-horizontal-space-between fx-vertical-center">
  <div class="m-r-4">
    <div class="avatar-container">
      <img
        *ngIf="character?.image"
        class="avatar"
        [src]="character?.image"
        alt="Photo of a Shiba Inu"
      />
      <img
        *ngIf="!character?.image"
        class="avatar"
        src="assets/images/placeholder.png"
      />
    </div>
    <mat-card appearance="outlined" class="profile p-none">
      <div
        class="profile-header fx-row fx-horizontal-center fx-vertical-center"
      >
        General
      </div>
      <div class="fx-row fx-wrap p-2">
        <div class="flex-50">Firstname</div>
        <div class="flex-50">
          {{ character?.profile?.generalInfo?.firstname }}
        </div>
        <div class="flex-50">Lastname</div>
        <div class="flex-50">
          {{ character?.profile?.generalInfo?.lastname }}
        </div>
        <div class="flex-50">Surname</div>
        <div class="flex-50">
          {{ character?.profile?.generalInfo?.surname }}
        </div>
        <div class="flex-50">Race</div>
        <div class="flex-50">{{ character?.profile?.generalInfo?.race }}</div>
        <div class="flex-50">Sexe</div>
        <div class="flex-50">{{ character?.profile?.generalInfo?.race }}</div>
        <div class="flex-50">Age</div>
        <div class="flex-50">{{ character?.profile?.generalInfo?.age }}</div>
        <div class="flex-50">Birthday</div>
        <div class="flex-50">
          {{ character?.profile?.generalInfo?.birthdate }}
        </div>
        <div class="flex-50">Birthplace</div>
        <div class="flex-50">
          {{ character?.profile?.generalInfo?.birthplace }}
        </div>
      </div>
      <div
        class="profile-header fx-row fx-horizontal-center fx-vertical-center"
        color="primary"
      >
        Physical
      </div>
      <div class="fx-row fx-wrap p-2">
        <div class="flex-50">Height</div>
        <div class="flex-50">
          {{ character?.profile?.physicalInfo?.height }}
        </div>
        <div class="flex-50">Weight</div>
        <div class="flex-50">
          {{ character?.profile?.physicalInfo?.weight }}
        </div>
        <div class="flex-50">Eyes</div>
        <div class="flex-50">{{ character?.profile?.physicalInfo?.eyes }}</div>
        <div class="flex-50">Hair</div>
        <div class="flex-50">{{ character?.profile?.physicalInfo?.hair }}</div>
        <div class="flex-50">Dress style</div>
        <div class="flex-50">
          {{ character?.profile?.physicalInfo?.dressStyle }}
        </div>
        <div class="flex-50">Accessories</div>
        <div class="flex-50">
          {{ character?.profile?.physicalInfo?.accessories }}
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="m-b-5">
  <h1 class="character-name m-2">
    {{ character?.profile?.generalInfo?.firstname }}
    {{ character?.profile?.generalInfo?.lastname }}
  </h1>
  <h2 class="character-title primary">
    <q>{{ character?.profile?.generalInfo?.surname }}</q>
  </h2>
  <div class="text-left">
    <span class="character-quote p-l-1">{{
      character?.profile?.generalInfo?.quote
    }}</span>
  </div>
  <h4 class="text-right">CV : {{ character?.profile?.generalInfo?.cv }}</h4>
</div>
<div class="summary">
  <div [innerHtml]="character?.description?.summary"></div>
</div>
<div class="text-center">
  <mat-button-toggle-group
    [(ngModel)]="displayMode"
    name="selectPanel"
    aria-label="Select Panel"
  >
    <mat-button-toggle class="toggle-button" value="plot">
      Plot
    </mat-button-toggle>
    <mat-button-toggle class="toggle-button" value="personality">
      Personality
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="text-justify">
  <div *ngIf="displayMode==='plot'">
    <h3 class="category-title p-l-5 p-t-2 m-b-2">Life</h3>
    <app-card-panel>
      <div>
        <h5>Localisation</h5>
        <p>{{ character?.description?.localisation }}</p>
      </div>
      <div>
        <h5>Living with</h5>
        <p>{{ character?.description?.livingWith }}</p>
      </div>
      <div>
        <h5>Home Description</h5>
        <p>{{ character?.description?.homeDescription }}</p>
      </div>
      <div>
        <h5>Neighbourhood</h5>
        <p>{{ character?.description?.neighbourhood }}</p>
      </div>
      <div class="fx-row">
        <div class="flex-50">
          <h5>Occupation</h5>
          <p>{{ character?.description?.occupation }}</p>
        </div>
        <div class="flex-50">
          <h5>Job statisfaction</h5>
          <p>{{ character?.description?.jobSatisfaction }}</p>
        </div>
      </div>
      
    </app-card-panel>
  </div>
  <div *ngIf="displayMode==='plot'">
    <h3 class="category-title p-l-5 p-t-2 m-b-2">Relation</h3>
    <div>{{ character?.description?.motherName }}</div>
    <div>{{ character?.description?.motherCurrentStatus }}</div>
    <div>{{ character?.description?.fatherName }}</div>
    <div>{{ character?.description?.fatherCurrentStatus }}</div>
    <div>{{ character?.description?.caretakers }}</div>
    <div>{{ character?.description?.siblings }}</div>
    <div>{{ character?.description?.motherName }}</div>
    <div>{{ character?.description?.extendedFamily }}</div>
    <div>{{ character?.description?.motherName }}</div>
    <div>{{ character?.description?.bestFriend }}</div>
    <div>{{ character?.description?.interest }}</div>
    <div>{{ character?.description?.loveStory }}</div>
    <div>{{ character?.description?.dislikedPeople }}</div>
    <div>{{ character?.description?.likedPeople }}</div>
    <div>{{ character?.description?.relyPracticalAdvice }}</div>
    <div>{{ character?.description?.relyEmotionalSupport }}</div>
  </div>
  <div *ngIf="displayMode==='plot'">
    <h3 class="category-title p-l-5 p-t-2 m-b-2">Background</h3>
    <div [innerHtml]="character?.description?.background"></div>
  </div>

  <div *ngIf="displayMode==='personality'">
    <h3 class="category-title p-l-5 p-t-2 m-b-2">Personality</h3>
    <div [innerHtml]="character?.description?.personality"></div>
  </div>
</div>
