<h3>Summary</h3>

<ngx-editor-menu [editor]="editor1"> </ngx-editor-menu>
<ngx-editor
  [editor]="editor1"
  [(ngModel)]="html1"
  [ngModelOptions]="{ standalone: true }"
  [disabled]="false"
  [placeholder]="'Type here...'"
></ngx-editor>

<h3>personality</h3>
<ngx-editor-menu [editor]="editor2"> </ngx-editor-menu>
<ngx-editor
  [editor]="editor2"
  [(ngModel)]="html2"
  [ngModelOptions]="{ standalone: true }"
  [disabled]="false"
  [placeholder]="'Type here...'"
></ngx-editor>
<h3>background</h3>
<ngx-editor-menu [editor]="editor3"> </ngx-editor-menu>
<ngx-editor
  [editor]="editor3"
  [(ngModel)]="html3"
  [ngModelOptions]="{ standalone: true }"
  [disabled]="false"
  [placeholder]="'Type here...'"
></ngx-editor>