<div fxLayout="column" fxLayoutAlign="space-around center">
    <img class="image" *ngIf="croppedImage" [src]="croppedImage" />
    <img class="image" *ngIf="!croppedImage" src="assets/images/no-image.png" />
</div>
<div fxLayout="column" fxLayoutAlign="space-around center">
    <button type='button' mat-raised-button color="primary" (click)="fileInput.click()">UPLOAD</button>
    <input #fileInput type="file" onclick="this.value=null;" (change)="fileChangeEvent($event)" hidden />
</div>


<ng-template #dialogRef>
    <div class="cropper">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
            format="png" [resizeToWidth]="500" [resizeToHeight]="500" [onlyScaleDown]="true"
            (imageCropped)="imageCropped($event)"></image-cropper>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="cancel()">CANCEL</button>
        <button mat-button mat-dialog-close cdkFocusInitial>UPLOAD</button>
    </div>
</ng-template>