<app-actions-header [title]="'Characters'">
  <div>
    <input
      class="input-search"
      type="text"
      id="search"
      name="search"
      size="10"
      placeholder="search"
    />
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="m-r-2 m-l-2"
      [routerLink]="['/app', 'book', book?._id, 'character', 'new-character']"
    >
      <mat-icon>add</mat-icon> CREATE
    </button>
    <mat-button-toggle-group
      class="toggle-view"
      [(ngModel)]="displayMode"
      #group="matButtonToggleGroup"
    >
      <mat-button-toggle value="compact" aria-label="Text align left">
        <mat-icon>view_headline</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="card" aria-label="Text align center">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</app-actions-header>

<div *ngIf="displayMode === 'card'">
  <app-character-list-card
    [listCharacter]="listCharacter"
    [bookId]="book?._id"
  ></app-character-list-card>
</div>

<div *ngIf="displayMode === 'compact'">
  <app-character-list-grid
    [listCharacter]="listCharacter"
  ></app-character-list-grid>
</div>
