<mat-card class="header">
  <div fxFlex="100" class="actions" fxLayoutAlign="space-between center">
    <div>
      <h2>
        {{ character.profile?.generalInfo?.firstname }}
        {{ character.profile?.generalInfo?.lastname }}
      </h2>
    </div>
    <div>
      <input
        class="input-search"
        type="text"
        id="search"
        name="search"
        size="10"
        placeholder="search"
      />
      <button
        type="button"
        mat-raised-button
        color="primary"
        class="actions-buttons"
        [routerLink]="['/app', 'book', book?._id, 'character', 'new-character']"
      >
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>
</mat-card>

<mat-card>
  <mat-tab-group>
    <mat-tab label="Description">
      <div class="tab-content">
        <app-display-character-description [character]="character"></app-display-character-description>
      </div>
    </mat-tab>
    <mat-tab label="Chronology">
      <div class="tab-content">
      </div>
    </mat-tab>
    <mat-tab label="Relationships">
      <div class="tab-content">
      </div>
    </mat-tab>
    <mat-tab label="Abilities">
      <div class="tab-content">
      </div>
    </mat-tab>
  </mat-tab-group>
  
</mat-card>
