<form
  [formGroup]="newCharacterForm"
  (ngSubmit)="create(newCharacterForm.value)"
>
  <div class="actions">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="actions-buttons"
    >
      + CREATE
    </button>
    <button
      type="button"
      routerLink="/app/book"
      mat-raised-button
      color="primary"
      class="actions-buttons"
    >
      < BACK
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around start">
    <div fxFlex="25">
      <app-image-uploader
        (fileUploadEvent)="uploadFile($event)"
      ></app-image-uploader>
      <app-form-character-general
        [newCharacterForm]="newCharacterForm"
      ></app-form-character-general>
    </div>
    <div fxFlex="75" class="content">
      <mat-tab-group>
        <mat-tab label="Generalities">
          <app-panel-generality [newCharacterForm]="newCharacterForm"></app-panel-generality>
        </mat-tab>
        <mat-tab label="Description">
          <app-panel-description></app-panel-description>
        </mat-tab>
        <mat-tab label="Chronology">
          <app-panel-chronology></app-panel-chronology>
        </mat-tab>
        <mat-tab label="Relationships">
          <app-panel-relationship></app-panel-relationship>
        </mat-tab>
        <mat-tab label="Abilities">
          <app-panel-ability></app-panel-ability>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</form>
