<form
  [formGroup]="newCharacterForm"
  (ngSubmit)="create(newCharacterForm.value)"
>
  <div class="actions">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="actions-buttons"
      [disabled]="newCharacterForm.pristine && newCharacterForm.invalid"
    >
      <mat-icon>save</mat-icon> SAVE
    </button>
    <button
      type="button"
      [routerLink]="['/app', 'book', book?._id, 'dashboard']"
      mat-raised-button
      color="primary"
      class="actions-buttons"
    >
      <mat-icon>keyboard_return</mat-icon> BACK
    </button>
  </div>
  <mat-card fxLayout="row" class="body" fxLayoutAlign="space-around start">
    <div fxFlex="25">
      <app-image-uploader
        (fileUploadEvent)="uploadFile($event)"
        [aspectRatio]="2 / 3"
        [width]="400"
        [height]="600"
      ></app-image-uploader>
      <br>
      <app-form-character-general
        [newCharacterForm]="newCharacterForm"
      ></app-form-character-general>
    </div>
    <div fxFlex="75" class="content">
      <mat-tab-group>
        <mat-tab label="Generalities">
          <div>
            <app-panel-generality [newCharacterForm]="newCharacterForm"></app-panel-generality>
          </div>
        </mat-tab>
        <mat-tab label="Description">
          <div class="tab-content">
            <app-panel-description [newCharacterForm]="newCharacterForm"></app-panel-description>
          </div>
        </mat-tab>
        <mat-tab label="Chronology">
          <div class="tab-content">
            <app-panel-chronology></app-panel-chronology>
          </div>
        </mat-tab>
        <mat-tab label="Relationships">
          <div class="tab-content">
            <app-panel-relationship [newCharacterForm]="newCharacterForm"></app-panel-relationship>
          </div>
        </mat-tab>
        <mat-tab label="Abilities">
          <div class="tab-content">
            <app-panel-ability [newCharacterForm]="newCharacterForm"></app-panel-ability>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</form>
