.actions {
  padding-bottom: 2%;
}

.actions .actions-buttons {
  margin-right: 0.5em;
}

.content {
  padding: 2em;
}

:host ::ng-deep .NgxEditor__Content{
  overflow: auto;
  height: 300px;
}

.tab-content{
  padding: 16px 24px;
  background-color: white;
}