<mat-toolbar class="navbar fx-row fx-horizontal-space-between fx-vertical-center">
    <div class="fx-row fx-horizontal-center fx-vertical-center">
        <button mat-icon-button>
            <mat-icon>auto_stories</mat-icon>
        </button>
        <button class="navigation-buttons" mat-button [routerLink]="user ? ['/app/book'] : ['/home']"><h2>Booklet</h2></button>
        <app-navbar-navigation *ngIf="user"></app-navbar-navigation>
    </div>
    <div>
        <app-theme-toggler class="navigation-buttons"></app-theme-toggler>
        <span *ngIf="!user">
            <button class="navigation-buttons" routerLink="/auth/register" mat-flat-button color="primary">Register</button>
            <button class="navigation-buttons" routerLink="/auth/login" mat-flat-button color="primary">Login</button>
        </span>
        <span *ngIf="user">
            <input class="input-search" type="text" id="search" name="search" size="10" placeholder="search"> <!--component de recherche-->
            <button class="navigation-buttons" mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <button class="navigation-buttons" mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
            <!-- <button routerLink="/auth/register" mat-flat-button color="primary">Register</button> -->
            <button class="navigation-buttons" (click)="logout()" mat-flat-button color="primary">Logout</button>
        </span>
    </div>
    
</mat-toolbar>
