<div [formGroup]="newCharacterForm">
  <mat-form-field fxFill appearance="standard">
    <mat-label>Firstname</mat-label>
    <input type="text" matInput formControlName="firstname" />
    <mat-error *ngIf="newCharacterForm.get('firstname')!.hasError('required')">
      Firstname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFill appearance="standard">
    <mat-label>Lastname</mat-label>
    <input type="text" matInput formControlName="lastname" />
  </mat-form-field>

  <mat-form-field fxFill appearance="standard">
    <mat-label>Surname</mat-label>
    <input type="text" matInput formControlName="surname" />
  </mat-form-field>

  <mat-form-field fxFill appearance="standard">
    <mat-label>Quote</mat-label>
    <input type="text" matInput formControlName="quote" />
  </mat-form-field>

  <mat-form-field fxFill appearance="standard">
    <mat-label>CV</mat-label>
    <input type="text" matInput formControlName="cv" />
  </mat-form-field>

</div>
