<div class="fx-row fx-wrap m-t-2 m-b-2" *ngFor="let relation of character?.relationship">
    <div class="fxFlex-25 fx-row fx-horizontal-center fx-vertical-start">
        <div class="avatar-container">
            <img
              class="avatar"
              [src]="relation.involvedWith.image"
            />
          </div>
    </div>
    <div class="fxFlex-75">
        <h2>{{ relation.involvedWith.profile.generalInfo.firstname }} {{ relation.involvedWith.profile.generalInfo.lastname }}</h2>
        <h3>{{ relation.type }}</h3>
        <p>{{ relation.text }}</p>
    </div>  
</div>