.avatar {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.avatar-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  max-width: 150px;
}

.fxFlex-25{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  max-width: 25%;
}

.fxFlex-75{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 75%;
  max-width: 75%;
}