<div class="relation" fxLayout="row wrap" *ngFor="let relation of character?.relationship">
    <div fxFlex="25" fxLayoutAlign="center start">
        <div class="avatar-container">
            <img
              class="avatar"
              [src]="relation.involvedWith.image"
            />
          </div>
    </div>
    <div fxFlex="75">
        <h2>{{ relation.involvedWith.profile.generalInfo.firstname }} {{ relation.involvedWith.profile.generalInfo.lastname }}</h2>
        <h3>{{ relation.type }}</h3>
        <p>{{ relation.text }}</p>
    </div>  
</div>