.avatar {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.avatar-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  max-width: 150px;
}

.relation{
    margin-top : 10px;
    margin-bottom: 10x;
}