
.avatar-container {
    padding-top : 2em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}