<ng-container [formGroup]="newCharacterForm">
  <ng-container formGroupName="profile">
    <mat-accordion [multi]="true">
      <mat-expansion-panel class="card" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <h2>Général</h2> </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container formGroupName="generalInfo">

          <div class="m-b-4">
            <mat-label class="p-l-2 p-r-6">Sexe</mat-label>
            <mat-radio-group formControlName="sexe" aria-label="Select an option">
              <mat-radio-button class="p-r-5" value="gender.MALE">Male</mat-radio-button>
              <mat-radio-button class="p-r-5" value="gender.FEMALE">Female</mat-radio-button>
              <mat-radio-button class="p-r-5" value="gender.UNDEFINED">Undefined</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Race</mat-label>
            <input type="text" matInput formControlName="race" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Age</mat-label>
            <input type="text" matInput formControlName="age" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Birthday</mat-label>
            <input type="text" matInput formControlName="birthdate" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Birthplace</mat-label>
            <input type="text" matInput formControlName="birthplace" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Nationality</mat-label>
            <input type="text" matInput formControlName="nationality" />
          </mat-form-field>

        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel class="card" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <h2>Physique</h2> </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container formGroupName="physicalInfo">
          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Height</mat-label>
            <input type="text" matInput formControlName="height" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Weight</mat-label>
            <input type="text" matInput formControlName="weight" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Hair</mat-label>
            <input type="text" matInput formControlName="hair" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Eyes</mat-label>
            <input type="text" matInput formControlName="eyes" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Dress style</mat-label>
            <input type="text" matInput formControlName="dressStyle" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Accessories</mat-label>
            <input type="text" matInput formControlName="accessories" />
          </mat-form-field>

        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel class="card" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <h2>Mental</h2> </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container formGroupName="psychologicInfo">

          <div class="fx-column m-b-4">
            <label class="p-l-2 p-r-6">Outwardly or inwardly focused</label>
            <mat-radio-group formControlName="mbtiFocus" aria-label="Outwardly or inwardly focused">
              <mat-radio-button class="p-r-5" value="E">Extraversion (talkative, fast-paced environment, think out loud, center of attention)</mat-radio-button>
              <mat-radio-button class="p-r-5" value="I">Introversion (reserved, time for contemplation, think, observation)</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="fx-column m-b-4">
            <mat-label class="p-l-2 p-r-6">How taking information</mat-label>
            <mat-radio-group formControlName="mbtiInformation" aria-label="How taking information">
              <mat-radio-button class="p-r-5" value="S">Sensing (Focus on reality, concrete facts, practical application)</mat-radio-button>
              <mat-radio-button class="p-r-5" value="I">Intuition (imagine possibilities, big picture, ideas and concepts, figurative)</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="fx-column m-b-4">
            <mat-label class="p-l-2 p-r-6">How taking decision</mat-label>
            <mat-radio-group formControlName="mbtiDecision" aria-label="How taking decision">
              <mat-radio-button class="p-r-5" value="T">Thinking (Make decision using logical reasoning, justice & fairness, finding flaws, reasonable)</mat-radio-button>
              <mat-radio-button class="p-r-5" value="F">Feeling (Base decision on personal values, value harmony, forgiveness, like to please others)</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="fx-column m-b-4">
            <mat-label class="p-l-2 p-r-6">How prefer live life</mat-label>
            <mat-radio-group formControlName="mbtiLife" aria-label="How prefer live life">
              <mat-radio-button class="p-r-5" value="J">Judging (have matters settled, rule and deadlines respected, detailed instructions, make plans)</mat-radio-button>
              <mat-radio-button class="p-r-5" value="P">Perceiving (options open, flexibility, improvise, spontaneous)</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Intelligence</mat-label>
            <input type="text" matInput formControlName="intelligence" />
          </mat-form-field>
          
          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Self Confidence</mat-label>
            <input type="text" matInput formControlName="selfConfidence" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Flaws</mat-label>
            <input type="text" matInput formControlName="flaws" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Qualities</mat-label>
            <input type="text" matInput formControlName="qualities" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Political Attitude</mat-label>
            <input type="text" matInput formControlName="politicalAttitude" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Self Perception</mat-label>
            <input
              type="text"
              matInput
              formControlName="selfPerception"
            />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Others Perception</mat-label>
            <input
              type="text"
              matInput
              formControlName="othersPerception"
            />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Regrets</mat-label>
            <input type="text" matInput formControlName="regrets" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Accomplishments</mat-label>
            <input type="text" matInput formControlName="accomplishments" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Short Term Goals</mat-label>
            <input type="text" matInput formControlName="shortTermGoals" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Long Term Goals</mat-label>
            <input type="text" matInput formControlName="longTermGoals" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Goals Feasability</mat-label>
            <input
              type="text"
              matInput
              formControlName="goalsFeasability"
            />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Hobbies</mat-label>
            <input type="text" matInput formControlName="hobbies" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Special Talents</mat-label>
            <input type="text" matInput formControlName="specialTalents" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Unskilled at</mat-label>
            <input type="text" matInput formControlName="unskilledAt" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Likes</mat-label>
            <input type="text" matInput formControlName="likes" />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" floatLabel="always" color="accent">
            <mat-label>Dislikes</mat-label>
            <input type="text" matInput formControlName="dislikes" />
          </mat-form-field>

        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ng-container>
