<form [formGroup]="newBookForm" (ngSubmit)="create(newBookForm.value)">
  <app-actions-header [title]="'New Book'">
    <div>
      <button class="m-r-2" type="submit" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> CREATE
      </button>
      <button
        type="button"
        routerLink="/app/book"
        mat-raised-button
        color="primary"
        class="m-r-2"
      >
        <mat-icon>keyboard_return</mat-icon> BACK
      </button>
    </div>
  </app-actions-header>
  <div class="fx-row fx-horizontal-space-around fx-vertical-start">
    <div class="flex-25">
      <app-image-uploader
        (fileUploadEvent)="uploadFile($event)"
        [aspectRatio]="1 / 1"
        [height]="500"
        [width]="500"
      ></app-image-uploader>
    </div>
    <div class="content flex-75">
      <mat-card appearance="outlined">
        <label>Name</label>
        <mat-form-field
          class="w-full"
          appearance="outline"
          floatLabel="always"
          color="accent"
        >
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="Write a cool name for your book !"
          />
          <mat-error *ngIf="newBookForm.get('name')!.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <label>Description</label>
        <mat-form-field
          class="w-full"
          appearance="outline"
          floatLabel="always"
          color="accent"
        >
          <textarea
            matInput
            formControlName="description"
            placeholder="Write an amazing description for your book !"
          ></textarea>
        </mat-form-field>
      </mat-card>
    </div>
  </div>
</form>
