.test{
  padding: 10px;
}

// Temporary fix to remove flex layout, to adapt
.fxFlex-50{
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 50%;
}

.wow{
  aspect-ratio: 1 / 1 ;
  width: 100%;
}

.number{
  height: 8vh;
  font-size: 8vw;
}

.te{
  text-align: center;
}