<mat-accordion [multi]="true" [formGroup]="newCharacterForm">
  <mat-expansion-panel class="card" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Général </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field fxFill appearance="standard">
        <mat-label>Age</mat-label>
        <input type="text" matInput formControlName="age" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Birthday</mat-label>
        <input type="text" matInput formControlName="birthdate" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Birthplace</mat-label>
        <input type="text" matInput formControlName="birthplace" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Nationality</mat-label>
        <input type="text" matInput formControlName="nationality" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Hometown</mat-label>
        <input type="text" matInput formControlName="hometown" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Current place</mat-label>
        <input type="text" matInput formControlName="currentPlace" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Home description</mat-label>
        <input type="text" matInput formControlName="homeDescription" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Neighbourhood</mat-label>
        <input type="text" matInput formControlName="neighbourhood" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Occupation</mat-label>
        <input type="text" matInput formControlName="occupation" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Job Satisfaction</mat-label>
        <input type="text" matInput formControlName="jobSatisfaction" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Finance</mat-label>
        <input type="text" matInput formControlName="finance" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Income</mat-label>
        <input type="text" matInput formControlName="income" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Personal Habits</mat-label>
        <input type="text" matInput formControlName="personalHabits" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Hobbies</mat-label>
        <input type="text" matInput formControlName="hobbies" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Favorite Sports</mat-label>
        <input type="text" matInput formControlName="favoriteSports" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Favorite Foods</mat-label>
        <input type="text" matInput formControlName="favoriteFoods" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Favorite Musics</mat-label>
        <input type="text" matInput formControlName="favoriteMusics" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Favorite Movies</mat-label>
        <input type="text" matInput formControlName="favoriteMovies" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Favorite Holidays</mat-label>
        <input type="text" matInput formControlName="favoriteHolidays" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Favorite Saying</mat-label>
        <input type="text" matInput formControlName="favoriteSaying" />
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="card" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Physique </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field fxFill appearance="standard">
        <mat-label>Height</mat-label>
        <input type="text" matInput formControlName="height" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Weight</mat-label>
        <input type="text" matInput formControlName="weight" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Body Shape</mat-label>
        <input type="text" matInput formControlName="bodyshape" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Hair</mat-label>
        <input type="text" matInput formControlName="hair" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Ethnicity</mat-label>
        <input type="text" matInput formControlName="ethnicity" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Species</mat-label>
        <input type="text" matInput formControlName="species" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Smell</mat-label>
        <input type="text" matInput formControlName="smell" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Skintone</mat-label>
        <input type="text" matInput formControlName="skintone" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Eyes</mat-label>
        <input type="text" matInput formControlName="eyes" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Distinguish marks</mat-label>
        <input type="text" matInput formControlName="distinguishMarks" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Dress style</mat-label>
        <input type="text" matInput formControlName="dressStyle" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Accessories</mat-label>
        <input type="text" matInput formControlName="accesories" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Mannerism</mat-label>
        <input type="text" matInput formControlName="mannerism" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Physical posture</mat-label>
        <input type="text" matInput formControlName="physicalPosture" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Speech Pattern</mat-label>
        <input type="text" matInput formControlName="speechPattern" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Gestures</mat-label>
        <input type="text" matInput formControlName="gestures" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Disabilities</mat-label>
        <input type="text" matInput formControlName="disabilites" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Style</mat-label>
        <input type="text" matInput formControlName="style" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Flaws</mat-label>
        <input type="text" matInput formControlName="flaws" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Qualities</mat-label>
        <input type="text" matInput formControlName="qualities" />
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="card" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Mental </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field fxFill appearance="standard">
        <mat-label>Education</mat-label>
        <input type="text" matInput formControlName="education" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Intelligence</mat-label>
        <input type="text" matInput formControlName="intelligence" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Grade</mat-label>
        <input type="text" matInput formControlName="grade" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Attitude toward school</mat-label>
        <input type="text" matInput formControlName="attitudeTowardSchool" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Mental Illness</mat-label>
        <input type="text" matInput formControlName="mentalIllness" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Learning experiences</mat-label>
        <input type="text" matInput formControlName="learningExperiences" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Positive personality traits</mat-label>
        <input
          type="text"
          matInput
          formControlName="positivePersonalityTraits"
        />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Negative personality traits</mat-label>
        <input
          type="text"
          matInput
          formControlName="negativePersonalityTraits"
        />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Bad habits</mat-label>
        <input type="text" matInput formControlName="badHabits" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Phylosophyof life</mat-label>
        <input type="text" matInput formControlName="philosophyOfLife" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Political attitude</mat-label>
        <input type="text" matInput formControlName="politicalAttitude" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Short term goals</mat-label>
        <input type="text" matInput formControlName="shortTermGoals" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Long term goals</mat-label>
        <input type="text" matInput formControlName="longTermGoals" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Goal achievement</mat-label>
        <input type="text" matInput formControlName="goalAchievement" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Greatest dream</mat-label>
        <input type="text" matInput formControlName="greatestDream" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Secret dream</mat-label>
        <input type="text" matInput formControlName="secretDream" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Consideration for others</mat-label>
        <input type="text" matInput formControlName="considerationForOthers" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Self perception</mat-label>
        <input type="text" matInput formControlName="selfPerception" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Others perception</mat-label>
        <input type="text" matInput formControlName="othersPerception" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Self confidence</mat-label>
        <input type="text" matInput formControlName="selfConfidence" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Sense of humour</mat-label>
        <input type="text" matInput formControlName="senseOfHumour" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Temper</mat-label>
        <input type="text" matInput formControlName="temper" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Emotion or logic</mat-label>
        <input type="text" matInput formControlName="emotionOrLogic" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Leader or follower</mat-label>
        <input type="text" matInput formControlName="leaderOrFollower" />
      </mat-form-field>

      <mat-form-field fxFill appearance="standard">
        <mat-label>Embarassements</mat-label>
        <input type="text" matInput formControlName="embarassements" />
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>