<ng-container [formGroup]="newCharacterForm">
  <ng-container formGroupName="profile">
    <mat-accordion [multi]="true">
      <mat-expansion-panel class="card" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <h2>Général</h2> </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container formGroupName="generalInfo">
          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Age</mat-label>
            <input type="text" matInput formControlName="age" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Birthday</mat-label>
            <input type="text" matInput formControlName="birthdate" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Birthplace</mat-label>
            <input type="text" matInput formControlName="birthplace" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Species</mat-label>
            <input type="text" matInput formControlName="species" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Nationality</mat-label>
            <input type="text" matInput formControlName="nationality" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Hometown</mat-label>
            <input type="text" matInput formControlName="hometown" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Current place</mat-label>
            <input type="text" matInput formControlName="currentPlace" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Home description</mat-label>
            <input type="text" matInput formControlName="homeDescription" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Neighbourhood</mat-label>
            <input type="text" matInput formControlName="neighbourhood" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Occupation</mat-label>
            <input type="text" matInput formControlName="occupation" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Job Satisfaction</mat-label>
            <input type="text" matInput formControlName="jobSatisfaction" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Finance</mat-label>
            <input type="text" matInput formControlName="finance" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Personal Habits</mat-label>
            <input type="text" matInput formControlName="personalHabits" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Hobbies</mat-label>
            <input type="text" matInput formControlName="hobbies" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Favorite Foods</mat-label>
            <input type="text" matInput formControlName="favoriteFoods" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Favorite Saying</mat-label>
            <input type="text" matInput formControlName="favoriteSaying" />
          </mat-form-field>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel class="card" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <h2>Physique</h2> </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container formGroupName="physicalInfo">
          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Height</mat-label>
            <input type="text" matInput formControlName="height" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Weight</mat-label>
            <input type="text" matInput formControlName="weight" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Body Shape</mat-label>
            <input type="text" matInput formControlName="bodyshape" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Hair</mat-label>
            <input type="text" matInput formControlName="hair" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Ethnicity</mat-label>
            <input type="text" matInput formControlName="ethnicity" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Smell</mat-label>
            <input type="text" matInput formControlName="smell" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Skintone</mat-label>
            <input type="text" matInput formControlName="skintone" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Eyes</mat-label>
            <input type="text" matInput formControlName="eyes" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Distinguish marks</mat-label>
            <input type="text" matInput formControlName="distinguishMarks" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Dress style</mat-label>
            <input type="text" matInput formControlName="dressStyle" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Accessories</mat-label>
            <input type="text" matInput formControlName="accessories" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Mannerism</mat-label>
            <input type="text" matInput formControlName="mannerism" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Physical posture</mat-label>
            <input type="text" matInput formControlName="physicalPosture" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Speech Pattern</mat-label>
            <input type="text" matInput formControlName="speechPattern" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Gestures</mat-label>
            <input type="text" matInput formControlName="gestures" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Disabilities</mat-label>
            <input type="text" matInput formControlName="disabilities" />
          </mat-form-field>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel class="card" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <h2>Mental</h2> </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container formGroupName="psychologicInfo">
          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Flaws</mat-label>
            <input type="text" matInput formControlName="flaws" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Qualities</mat-label>
            <input type="text" matInput formControlName="qualities" />
          </mat-form-field>
          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Education</mat-label>
            <input type="text" matInput formControlName="education" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Intelligence</mat-label>
            <input type="text" matInput formControlName="intelligence" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Mental Illness</mat-label>
            <input type="text" matInput formControlName="mentalIllness" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Learning experiences</mat-label>
            <input type="text" matInput formControlName="learningExperiences" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Positive personality traits</mat-label>
            <input
              type="text"
              matInput
              formControlName="positivePersonalityTraits"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Negative personality traits</mat-label>
            <input
              type="text"
              matInput
              formControlName="negativePersonalityTraits"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Phylosophy of life</mat-label>
            <input type="text" matInput formControlName="philosophyOfLife" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Political attitude</mat-label>
            <input type="text" matInput formControlName="politicalAttitude" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Goal achievement</mat-label>
            <input type="text" matInput formControlName="goalAchievement" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Greatest dream</mat-label>
            <input type="text" matInput formControlName="greatestDream" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Consideration for others</mat-label>
            <input
              type="text"
              matInput
              formControlName="considerationForOthers"
            />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Self perception</mat-label>
            <input type="text" matInput formControlName="selfPerception" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Others perception</mat-label>
            <input type="text" matInput formControlName="othersPerception" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Self confidence</mat-label>
            <input type="text" matInput formControlName="selfConfidence" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Sense of humour</mat-label>
            <input type="text" matInput formControlName="senseOfHumour" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Temper</mat-label>
            <input type="text" matInput formControlName="temper" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Emotion or logic</mat-label>
            <input type="text" matInput formControlName="emotionOrLogic" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Leader or follower</mat-label>
            <input type="text" matInput formControlName="leaderOrFollower" />
          </mat-form-field>

          <mat-form-field fxFill appearance="outline" floatLabel="always" color="accent">
            <mat-label>Embarassements</mat-label>
            <input type="text" matInput formControlName="embarassements" />
          </mat-form-field>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ng-container>
