<div class="fx-fill fx-column fx-horizontal-center fx-vertical-center">
    <mat-card appearance="outlined" class="w-6/12">
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="example-form">
            <mat-card-title class="text-center m-b-4">
                <span>Login</span>
            </mat-card-title>
            <mat-card-content>
                <div>
                    <mat-error *ngIf="loginForm.hasError('invalid')">
                        Username or password <strong>invalid</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('server')">
                        Server down, please try later
                    </mat-error>
                </div>
                <div>
                    <label>Username</label>
                    <mat-form-field class="w-full" appearance="fill" color="accent">
                        <input type="text" matInput formControlName="username">
                        <mat-error *ngIf="loginForm.get('username')!.hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <label>Password</label>
                    <mat-form-field class="w-full" appearance="fill" color="accent">
                        <input type="password" matInput formControlName="password">
                        <mat-error *ngIf="loginForm.get('password')!.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions class="fx-row fx-horizontal-center fx-vertical-center">
                <button type="submit" color="primary" mat-raised-button>LOGIN</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>