<app-actions-header
  [title]="
    '' +
    character?.profile?.generalInfo?.firstname +
    character?.profile?.generalInfo?.lastname
  "
>
  <div>
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="m-r-2 m-l-2"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</app-actions-header>

<mat-card appearance="outlined">
  <mat-tab-group>
    <mat-tab label="Description">
      <ng-template matTabContent>
        <div class="p-2">
          <app-display-character-description
            [character]="character"
          ></app-display-character-description>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Chronology">
      <ng-template matTabContent>
        <div class="p-2"></div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Relationships">
      <ng-template matTabContent>
        <div class="p-2">
        <app-display-character-relationship
          [character]="character"
        ></app-display-character-relationship>
      </div>
    </ng-template>
    </mat-tab>
    <mat-tab label="Abilities">
      <ng-template matTabContent>
        <div class="p-2">
          <app-display-character-abilities
            [character]="character"
          ></app-display-character-abilities>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
