<div class="character-content">
  <div class="personality">
    <h3 class="category-title">Physical Ability</h3>
    <div [innerHtml]="character.abilities.physicalAbility"></div>
  </div>
  <div class="background">
    <h3 class="category-title">Magical Ability</h3>
    <div [innerHtml]="character.abilities.magicalAbility"></div>
  </div>
  <div class="background">
    <h3 class="category-title">Equipement</h3>
    <div [innerHtml]="character.abilities.equipement"></div>
  </div>
  <div class="background">
    <h3 class="category-title">Stats</h3>
    <div [innerHtml]="character.abilities.stats"></div>
  </div>
</div>
