// To delete

.card-content{
    margin: 10px 0;
}

.card-title{
    padding-bottom: 10px;
}

.avatar {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.avatar-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-info{
  // text-overflow: ellipsis;
  margin-left: 1em;
}