<mat-card>
  <mat-card-title>Storyline</mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxFlex="50" class="card">
        <mat-card>
          <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              Chapter
            </div>
            <div>
              <mat-icon>zoom_in</mat-icon>
              <mat-icon>add</mat-icon>
            </div>            
          </mat-card-title>
          <mat-card-content>
            <mat-card class="example-card"> </mat-card>
            <mat-card>
              <mat-card-content> </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-content> </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="50" class="card">
        <mat-card>
          <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              Characters
            </div>
            <div>
              <mat-icon class="pointer-cursor" [routerLink]="['/app', 'book', '159', 'character']">zoom_in</mat-icon>
              <mat-icon class="pointer-cursor" [routerLink]="['/app', 'book', '159', 'character', 'new-character']">add</mat-icon>
            </div>            
          </mat-card-title>
          <mat-card-content>
            <mat-card [routerLink]="['/app', 'book', '159', 'character', '5']" class="card-content pointer-cursor">
              <div class="card-title" fxLayoutAlign="start center">
                <div fxFlex="25" class="avatar-container">
                  <img
                    class="avatar"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"
                  />
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">Shiba Inu</div>
              </div>

              <mat-card-content>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip>One fish</mat-chip>
                  <mat-chip>Two fish</mat-chip>
                  <mat-chip color="primary" selected>Primary fish</mat-chip>
                  <mat-chip color="accent" selected>Accent fish</mat-chip>
                </mat-chip-list>
              </mat-card-content>
            </mat-card>
            <mat-card class="card-content">
                <div class="card-title" fxLayoutAlign="start center">
                  <div fxFlex="25" class="avatar-container">
                    <img
                      class="avatar"
                      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                      alt="Photo of a Shiba Inu"
                    />
                  </div>
                  <div fxFlex="75" fxLayoutAlign="center center">Shiba Inu</div>
                </div>
  
                <mat-card-content>
                  <mat-chip-list aria-label="Fish selection">
                    <mat-chip>One fish</mat-chip>
                    <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
              <mat-card class="card-content">
                <div class="card-title" fxLayoutAlign="start center">
                  <div fxFlex="25" class="avatar-container">
                    <img
                      class="avatar"
                      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                      alt="Photo of a Shiba Inu"
                    />
                  </div>
                  <div fxFlex="75" fxLayoutAlign="center center">Shiba Inu</div>
                </div>
  
                <mat-card-content>
                  <mat-chip-list aria-label="Fish selection">
                    <mat-chip>One fish</mat-chip>
                    <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br />
<mat-card>
  <mat-card-title>Additionnal informations</mat-card-title>
  <mat-card-content> </mat-card-content>
</mat-card>
