<div fxLayout="row wrap">
  <div fxLayout="row wrap" fxFlex="60">
    <div class="test" fxFlex="50">
      <mat-card fxLayoutAlign="center center" class="wow">
        <div class="te">
          <div class="number">56</div>
          <div>CHARACTERS</div>
        </div>
      </mat-card>
    </div>
    <div class="test" fxFlex="50">
      <mat-card fxLayoutAlign="center center" class="wow">
        <div class="te">
          <div class="number">118</div>
          <div>SCENES</div>
        </div>
      </mat-card>
    </div>
    <div class="test" fxFlex="50">
      <mat-card fxLayoutAlign="center center" class="wow">
        <div class="te">
          <div class="number">5</div>
          <div>DAYS WORKED ON</div>
        </div>
      </mat-card>
    </div>
    <div class="test" fxFlex="50">
      <mat-card fxLayoutAlign="center center" class="wow">
        <div class="te">
          <div class="number">5</div>
          <div>DAYS WORKED STREAK</div>
        </div>
      </mat-card>
    </div>

  </div>
  <div fxFlex="40" class="test">
    <mat-card></mat-card>
  </div>
  
</div>