<div class="img fx-column fx-horizontal-space-around fx-vertical-center">
    <img class="image" (click)="fileInput.click()" *ngIf="croppedImage" [src]="croppedImage" />
    <img class="image" (click)="fileInput.click()" *ngIf="!croppedImage" src="assets/images/placeholder.png" />
    <button class="icon" type='button' mat-icon-button color="primary"><mat-icon>file_upload</mat-icon></button>
    <input #fileInput type="file" onclick="this.value=null;" (change)="fileChangeEvent($event)" hidden />
</div>

<ng-template #dialogRef>
    <div class="cropper">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="aspectRatio"
            (imageCropped)="imageCropped($event)">
        </image-cropper>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button color="primary" mat-dialog-close (click)="cancel()">CANCEL</button>
        <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>UPLOAD</button>
    </div>
</ng-template>