<app-actions-header [title]="'Your Books'">
  <div>
    <button
      class="m-r-2"
      routerLink="/app/book/new"
      mat-raised-button
      color="primary"
    >
      <mat-icon>add</mat-icon> CREATE
    </button>
  </div>
</app-actions-header>
<div class="fx-row fx-wrap">
  <div class="fx-row card" *ngFor="let book of bookList">
    <mat-card appearance="outlined" class="w-full">
      <mat-card-header>
        <mat-card-title>{{ book.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="book.image" alt="Cover image of book" />
      <mat-card-content>
        <p>
          {{ book.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="toDashboard(book)" mat-raised-button color="primary">
          <mat-icon>zoom_in</mat-icon> VOIR
        </button>
        <button mat-raised-button color="accent">
          <mat-icon>edit</mat-icon> EDIT
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
