.card-content {
  height: 100px;
}

.avatar {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.avatar-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.tag-list {
  overflow: hidden;
  white-space: nowrap;
  height: 32px;
}
