<mat-card
  *ngFor="let character of listCharacter"
  class="card-content pointer-cursor m-t-2 m-b-2"
>
  <div class="fx-row fx-horizontal-space-between fx-vertical-center">
    <div class="fx-row fx-horizontal-start fx-vertical-center">
      <div class="avatar-container">
        <img
          *ngIf="character.image"
          class="avatar"
          [src]="character.image"
          alt="Photo of a Shiba Inu"
        />
        <img
          *ngIf="!character.image"
          class="avatar"
          src="assets/images/placeholder.png"
        />
      </div>
      <div class="m-l-3">
        <h2>
          {{ character.profile.generalInfo.firstname }}
          {{ character.profile.generalInfo.lastname }}
        </h2>
        <h3>"{{ character.profile.generalInfo.surname }}"</h3>
        <div class="tag-list">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>{{ character.status }}</mat-chip>
            <mat-chip *ngFor="let tag of character.tags">{{
              tag.name
            }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="fx-column">
      <button
        type="button"
        mat-button
        class="m-r-2"
        [routerLink]="[
          '/app',
          'book',
          bookId,
          'character',
          'detail',
          character._id
        ]"
      >
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button type="button" mat-button class="m-r-2">
        <mat-icon>edit</mat-icon>
      </button>
      <button type="button" mat-button class="m-r-2">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
