<form
  [formGroup]="newCharacterForm"
  (ngSubmit)="create(newCharacterForm.value)"
>
  <app-actions-header [title]="'Create character'">
    <div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="m-r-2"
        [disabled]="newCharacterForm.pristine && newCharacterForm.invalid"
      >
        <mat-icon>save</mat-icon> SAVE
      </button>
      <button
        type="button"
        [routerLink]="['/app', 'book', book?._id, 'character']"
        mat-raised-button
        color="primary"
        class="m-r-2"
      >
        <mat-icon>keyboard_return</mat-icon> BACK
      </button>
    </div>
  </app-actions-header>
  <mat-card class="body">
    <div class="fx-row">
      <div class="flex-25">
        <app-image-uploader
          (fileUploadEvent)="uploadFile($event)"
          [aspectRatio]="2 / 3"
          [width]="400"
          [height]="600"
        ></app-image-uploader>
        <br />
        <div>
          <app-form-character-general
            [newCharacterForm]="newCharacterForm"
          ></app-form-character-general>
        </div>
      </div>
      <div class="flex-75 p-3">
        <mat-tab-group>
          <mat-tab label="Generalities">
            <div>
              <app-panel-generality
                [newCharacterForm]="newCharacterForm"
              ></app-panel-generality>
            </div>
          </mat-tab>
          <mat-tab label="Description">
            <div class="p-t-3 p-b-3 p-l-4 p-r-4">
              <app-panel-description
                [newCharacterForm]="newCharacterForm"
              ></app-panel-description>
            </div>
          </mat-tab>
          <mat-tab label="Chronology">
            <div class="p-t-3 p-b-3 p-l-4 p-r-4">
              <app-panel-chronology></app-panel-chronology>
            </div>
          </mat-tab>
          <mat-tab label="Relationships">
            <div class="p-t-3 p-b-3 p-l-4 p-r-4">
              <app-panel-relationship
                [newCharacterForm]="newCharacterForm"
              ></app-panel-relationship>
            </div>
          </mat-tab>
          <mat-tab label="Abilities">
            <div class="p-t-3 p-b-3 p-l-4 p-r-4">
              <app-panel-ability
                [newCharacterForm]="newCharacterForm"
              ></app-panel-ability>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card>
</form>
